.table-wrapper {
    overflow-x: auto;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 35, 32);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3em;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    margin-top: -10px;
    margin-bottom: 4px;
    text-align: center;
    color: rgb(244, 255, 255)
}

img {
    width: 3em;
}

table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 120%;
    max-width: 450px;
    overflow-x: scroll;
    border-collapse: collapse;
    border-right: rgb(0, 0, 0) solid 2px;
    border-left: rgb(0, 0, 0) solid 1px;
    border-top: rgb(0, 0, 0) solid 2px;

}

th {
    background-color: rgb(24, 24, 24);
    width: 70px;
    height: 70px;
    padding: 0;
    border-bottom: black solid 2px;
}

caption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(252, 78, 78);
    font-size: 20.5px;
    position: sticky;
    top: 0;
    padding: 1em;
}

th.title {
    background-color: rgb(244, 255, 255)
}

th.stier {
    background-color: rgb(252, 78, 78);
}

th.atier {
    background-color: rgb(255, 189, 67);
}

th.btier {
    background-color: rgb(253, 244, 110);
}

th.ctier {
    background-color: rgb(231, 252, 116);
}

th.dtier {
    background-color: rgb(148, 255, 148);
}

td {
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-bottom: black solid 2px;
}

nav {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

nav a {
    background-color: rgb(43, 83, 158);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 20px;
    margin-left: 10px;
    margin-right: 10px;
}

nav a:hover {
    background-color: rgb(62, 106, 187);
}

nav a.current {
    background-color: rgb(122, 168, 255);
}

footer {
    border-radius: 8px;
    color: #a0a0a0;
    font-style: italic;
    text-decoration: underline;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 14px;
}

article {
    border: 8px ridge #1a1a1a;
    padding-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 7px;

}

fieldset {
    flex: content;
    width: 280px;
    border: 8px ridge #1a1a1a;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

fieldset legend {
    color: rgb(252, 78, 78);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

fieldset input[type="text"],
input[type="email"] {
    font-size: 0.9em;
    border-radius: 7px;
    height: 1.5em;
    width: 180px
}

fieldset input[type="text"]:focus,
input[type="email"]:focus {
    outline: rgb(62, 106, 187) solid 3px;
    outline-offset: -2px;
}

label {
    color: rgb(244, 255, 255);
}


textarea {
    font-size: 1.3em;
    width: 50%;
    min-width: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

textarea:focus {
    outline: rgb(62, 106, 187) solid 3px;
    outline-offset: -2px;
}

select {
    margin-top: 10px;
    font-size: 1em;
    width: 250px;
    height: 2em;
    overflow-y: auto;
}


select:focus {
    outline: rgb(62, 106, 187) solid 3px;
    outline-offset: -2px;
    border-radius: 7px;
}


input[type="submit"],
[type="reset"] {
    background-color: rgb(43, 83, 158);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: rgb(43, 83, 158) solid 2px;
    padding: 10px;
    margin-top: 1.7em;
    padding: 15px 20px;
    padding-top: 9px;
    font-size: 15px;
    width: 7em;
    height: 2.5em;
    border-radius: 7px;
}

.button {
    text-align: center;
}

input[type="submit"]:hover,
[type="reset"]:hover {
    background-color: rgb(62, 106, 187);
    border: rgb(62, 106, 187) solid 2px;
}

input[type="submit"] {
    margin-left: 4%;
}

input[type="reset"] {
    margin-left: 20px;
}


@media (min-width: 700px) {
    h1 {
        font-size: 2.8em;
    }

    img {
        width: 5em;
    }

    th {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    nav {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    nav a {
        font-size: 1.2em;
        padding: 16px 23px;
    }

    fieldset {
        margin-top: 40px;
        padding: 20px;
        margin-left: 5%;
        flex: content;
        width: 400px;
    }

    fieldset legend {
        font-size: 30px;
        margin-left: 40px;
    }

    fieldset input[type="text"],
    input[type="email"] {
        font-size: 1em;
        border-radius: 7px;
        height: 1.5em;
        width: 270px
    }

    label {
        font-size: 1.3em;
    }

    article {
        margin-left: 5%;
        margin-right: 5%;
        padding: 2em;
    }

    input[type="submit"],
    [type="reset"] {
        margin-top: 1.5em;
        padding: 12px 23px;
        font-size: 1.2em;
    }

    caption {
        font-size: 2.2em;
    }

    footer {
        margin-top: 2.8em;
    }
}

@media (min-width: 1300px) {
    h1 {
        font-size: 3.5em;
    }

    img {
        width: 7em;
    }

    th {
        width: 150px;
        height: 150px;
        font-size: 25px;
    }

    article {
        margin-left: 7%;
        margin-right: 7%;
        padding: 2em 3em;
    }

    fieldset {
        padding: 30px;
        margin-left: 7%;
        width: 490px;
    }

    label {
        font-size: 1.5em;
    }

    caption {
        font-size: 3.2em;
    }
}