body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2c0ff;
}

#general {
    background-color: #eda7ff;
    margin-right: auto;
    border-bottom: #230075 2px solid;
    border-top: #230075 2px solid;
    border-left: #230075 4px solid;
    border-radius: 10px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.51;
    box-shadow: #0000003d 2px 2px 2px;
    max-width: 550px;
}

#general ul,
#general ol {
    margin-right: auto;
    max-width: fit-content;
    padding-right: 20px;
}

h1 {
    color: #230075;
}

h2 {
    color: #4d01ff;
}

h3 {
    color: #8000ff;
    text-align: center;
    border-bottom: #230075 2px solid;
    border-width: auto;
}


p {
    background-color: #2300753d;
    color: #007523;
    font-size: large;
    line-height: 1.51;
    padding: 5px;
    margin-right: auto;
    max-width: 900px;
    border-radius: 6px;
    text-align: justify;
    border-bottom: #007523 2px solid;
    border-top: #007523 2px solid;
    border-left: #007523 4px solid;
    box-shadow: #0000003d 2px 2px 2px;
}

.publish p {
    background-color: #23007515;
    font-size: 0.7em;
    color: #007523;
    text-align: center;
    font-style: italic;
    margin-right: auto;
    max-width: fit-content;
    padding: 2px;
    border-radius: 9px;
    border-color: #23007500;
}

ul {
    background-color: #2300753d;
    list-style-type: square;
    margin-left: 20px;
    margin-right: 15px;
    color: #546d18;
    border-bottom: #546d18 2px solid;
    border-top: #546d18 2px solid;
    border-left: #546d18 4px solid;
    border-radius: 6px;
    margin-right: auto;
}

ol {
    background-color: #2300753d;
    list-style-type: decimal;
    margin-left: 20px;
    margin-right: auto;
    color: #546d18;
    border-bottom: #546d18 2px solid;
    border-top: #546d18 2px solid;
    border-left: #546d18 4px solid;
    border-radius: 6px;
    box-shadow: #000000 2px 2px 3px;
    margin-right: auto;
}

a {
    color: #396e49;
    text-decoration: none;
}

hr {
    border: 2px solid #230075;
    margin-top: 15px;
    box-shadow: #000000 2px 2px 2px;
}

footer p {
    background-color: #23007515;
    border-left: #23007515 0px solid;
    border-bottom: #23007515 0px solid;
    border-top: #23007515 0px solid;
    font-size: 0.7em;
    color: #007523;
    text-align: left;
    font-style: italic;
    margin-right: auto;
    max-width: fit-content;
    border-radius: 9px;

}

